body {
    position: relative;
    padding-bottom: 44px;
    min-height: 100vh;
}

footer {
    color: #FFF;
    text-align: center;
    font-size: 75%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #10161A;
    display: flex;
    padding: 15px 0px 15px 0px;
    height: 44px;
}

input {
    margin-bottom: 10px !important;
}

.navbar-inverse {
    background-color: #10161A !important;
}

.container {
    width: auto !important;
}

.navbar {
    border-radius: 0px !important;
}

.db-login-form-container {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D8E1E8;
    margin: 0px 15px 0px 15px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    width: calc(100% - 40px);
}

.db-login-form {
    margin: 0 auto;
    text-align: left;
}

.db-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.db-flex-row-item {
    flex-grow: 1;
    text-align: center;
}

.db-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.db-dashboard {
    padding: 0px 15px 0px 15px;
}

.db-backup-progress {
    width: 200px !important;
}

.db-settings {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D8E1E8;
    margin: 0px 15px 0px 15px;
    padding: 15px 15px 15px 15px;
    width: calc(100% - 30px);
}

.db-form-default {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D8E1E8;
    padding: 15px 15px 15px 15px;
    text-align: left;
}